* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background-color: #eceef1;
}

.logo-wrap {
    margin: 60px auto 0 auto;
    width: 50%;
}

.main-logo, .services-logo {
    display: block;
    margin: 0 auto;
    height: 50px;
}

.form-wrap {
    margin-top: 40px;
    border: 1px solid #000;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 20px;
}

label {
    display: block;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.tel-margin {
    margin-bottom: 2px;
}

.rates {
    text-align: left;
    font-size: 10px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 100;
    font-size: 30px;
}

h2 {
    font-size: 16px;
    font-weight: 100;
}

a:link {
    color: #008cff;
  }
  
  a:visited {
    color: #008cff;
  }
  
  a:hover {
    border-bottom: 1px solid #008cff;
  }